*{font-family: Arial, Helvetica, sans-serif;}
.header{
    color: black;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    font-size:13px;}

a{
    color: black;
    text-decoration: none;}
a:hover{
    text-decoration:underline;}




.gmail{
    padding: 50px;}

.connexion{
    background-color: #1a73e8;
    color: #ffffffff;
    border-style: none;
    padding: 3px 0px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    display: flex;
    justify-content:center;
    align-items:center;}

main{
    margin-top: 10%;
    display:flex;
    justify-content: center;
   
}
.blocdumil{
    background-color: white;
    display:flex;
    flex-direction:column;}
.google{
    margin-left:20%;
}
.search{
    margin-top: 0px;
    padding-left: 30px;
    border-radius: 20px;
    border: 1px solid #DADCE0;
    height: 30px;
    width: 500px;;
    text-align:left;
    display:flex;
    justify-content:center}
    

.boutonrech{border-style:none;
    margin-left:25%;
    height: 30px;
    margin-right: 10px;}
.boutonrech:hover{
    border-style:groove;
    border-color: rgb(171, 164, 164);
    margin-top: 15px;
    height: 30px;  }

.chance{
    border-style:none;
    margin-top: 15px;
    height: 30px;  }
.chance:hover{
        border-style:groove;
        border-color: rgb(171, 164, 164);
        margin-top: 15px;
        height: 30px;  }

.pub{
    margin-left:42%;
    display:flex;
    flex-direction: row;
    align-items:center;
    font-size:14px}
.visitez{
    padding-right:5px;}
.bleu{
    color: #0e4183;}

.france{
    background-color: #e3e3e358;
    height:6%;
    display:flex;
    justify-content: left;
    flex-direction:column;}
footer{
    position:fixed;
    
    width: 100%;
    bottom: 0%;
    color: black;
    padding:0;
    background-color:#e3e3e358;
    color:gray}

.bas{
    border-bottom:1px solid #ddd;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:flex-end;
}